<h1> Welcome im Courses App </h1>
<h4 style="color:mediumseagreen"> Only the best courses here </h4>

<h2> About company </h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, aliquet in turpis sit amet, blandit condimentum augue. Sed at purus vitae ex convallis bibendum. Proin erat arcu, blandit a cursus ut, aliquam nec diam. Pellentesque sed rutrum erat, vitae tempor leo. Cras eros tortor, porttitor nec pellentesque at, egestas vel lorem. Aliquam non efficitur dui. Donec eleifend lectus non dictum euismod. Cras ac ligula nunc. Morbi fringilla massa sit amet est aliquet convallis. Fusce a risus eu urna elementum viverra a eget lectus. Donec eu convallis orci. Nunc tempus non dolor id mollis. </p>
<p> Proin at fringilla diam. Suspendisse porta neque quam, vitae dapibus diam auctor a. Nullam lobortis lectus eu ultrices mollis. Suspendisse sagittis est ut est feugiat, nec sagittis orci placerat. Maecenas faucibus tincidunt quam, tempor hendrerit odio placerat a. Etiam tempor massa vitae faucibus rutrum. Fusce tristique dui sed eros tempus ultricies. Donec urna tellus, ultrices vitae tellus vitae, ullamcorper pretium tellus. Ut quis sapien at neque rutrum egestas. </p>

<!--<a class="waves-effect waves-light btn">button</a>-->
